@import "bulma/css/bulma.css";
// @import "bootstrap/scss/bootstrap";

.navbar-brand .title {
  color: white;
}

//round images

.panel-heading {
  background: gray;
}

.image {
  border-radius: 50%;

  img {
    border-radius: 50%;
  }
}

.notification:not(:last-child) {
  margin-bottom: 0;
}
